@page "/login"
@using MFLReskin.Models;
@using System.Net.Http
@using TG.Blazor.IndexedDB;
@inject HttpClient Http
@inject IndexedDBManager DbManager

<h1>Login</h1>

<EditForm Model="@user" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="username" @bind-Value="user.Username" />
    <InputText type="password" id="password" @bind-Value="user.Password" />

    <button type="submit">Submit</button>
</EditForm>

@code {
    private User user = new User();

    private async Task HandleValidSubmit()
    {
        try
        {
            var userResponse = await Http.PostJsonAsync<User>("http://localhost:7071/api/login", user);

            await DbManager.ClearStore("User");

            userResponse.LastLogin = DateTime.Now;

            var record = new StoreRecord<User>
            {
                Storename = "User",
                Data = userResponse
            };

            await DbManager.AddRecord(record);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"FAILURE: {ex}");
        }

    }
}